:root {
  /* Article title, skill progress, timeline */
  --text-gradient-brand: linear-gradient(to right, #2e85f3, #2e65df);

  --text-solid-brand-1: #2e85f3;
  --text-solid-brand-2: #316dca;

  /* Background colors */
  --bg-brand-1: hsla(219, 85%, 56%, 0.125); /* Show Contacts button visible on narrow screens */
  --bg-brand-2: hsla(240, 1%, 17%, 0.749);
  --bg-jet: hsla(240, 1%, 20%, 0.251);
  --eerie-black-1: #1e1e1f;
  --smoky-black: #121212;
}

/* Service Icon */
/* .service-icon-box img {
  filter: grayscale(1);
} */

/* Testimonial Avatar */
/* .testimonials-avatar-box {
  filter: grayscale(1);
}
.modal-avatar-box {
  filter: grayscale(1);
} */

/* Client Logo */
.clients-item img {
  filter: grayscale(1);
}
.clients-item img:hover {
  filter: grayscale(0);
}
