:root {
  /* Brand colors */
  --bg-gradient-brand-1: linear-gradient(to bottom right, #2e84ee 0%, #2e70ee00 50%);
  --bg-gradient-brand-2: linear-gradient(135deg, #2e84ee40 0%, #2e65df00 59.86%), #202022;
  --text-gradient-brand: linear-gradient(to right, #2e85f3, #2e65df);
  --text-solid-brand-1: #2e85f3;
  --text-solid-brand-2: #316dca;

  /* Background colors */
  --bg-gradient-jet: linear-gradient(to bottom right, #2d2d2e40 0%, #1b1b1d00 100%), #202022;
  --eerie-black-2: #1e1e1f;
  --smoky-black: #121212;
}

/* TODO Remove when approved
2e85f3 - ffdb70
2e66d0 - FFBC5E
2e85ef - FFDB6E
316dca - ceb15a
2e65df - ffbb5c
2e84ee - ffda6b
2e70ee - ffc061
2e65df - ffbb5c
*/
