:root {
  --brand: #2e85f3;
  --brand-gradient: linear-gradient(to right, #2e85f3, #2e65df);

  --text-bright: #ffffff;
  --text-silver: #eeeeee;
  --text-smoky: #acb0b7;

  --box-icon: #ffffff;
  --social-icon: #ffffff;
  --service-icon: #ffffff;

  --about-scrollbar: #ffffff;
  --testimonial-modal-quote: #ffffff;

  --navbar-bg: hsla(221, 24%, 15%, 0.75);
  --navbar-link: #acb0b7;
  --navbar-link-active: #ffffff;
  --navbar-link-hover: #2e85f3;

  --body-bg: #0b101b;
  --avatar-box-bg: #353d4a;
  --area-bg-1: #181e29;
  --area-bg-2: #1d232f;

  --light-bg-border: #353c4a;
}

/* My Image */
/* .avatar-box img {
  filter: grayscale(1);
} */

/* Testimonial Images */
.testimonials-avatar-box img {
  filter: grayscale(1);
}
.modal-avatar-box img {
  filter: grayscale(1);
}

/* Client Logos */
.clients-item img {
  filter: grayscale(1);
}
.clients-item img:hover {
  filter: grayscale(0);
}
