.entry-markdown {
  --fs-2: 22px;
}

@media (min-width: 580px) {
  .entry-markdown {
    --fs-2: 24px;
  }
}

@media (min-width: 768px) {
  .entry-markdown {
    --fs-2: 28px;
  }
}

.entry-markdown h1,
.entry-markdown h2,
.entry-markdown h3,
.entry-markdown h4,
.entry-markdown h5 {
  color: var(--c-text-bright);
}

.entry-markdown h2,
.entry-markdown h3,
.entry-markdown h4,
.entry-markdown h5 {
  margin: 40px 0 20px 0;
}

.entry-markdown h1 {
  position: relative;
  padding-bottom: 7px;
  margin-bottom: 15px;
}

.entry-markdown h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background: var(--c-brand-gradient);
  border-radius: 3px;
}



@media (min-width: 580px) {
  .entry-markdown h1 {
    padding-bottom: 15px;
    margin-bottom: 20px;
  }

  .entry-markdown h1::after {
    width: 40px;
    height: 5px;
  }
}

@media (min-width: 768px) {
  .entry-markdown h1 {
    padding-bottom: 20px;
  }
}

@media (min-width: 1024px) {
  .entry-markdown h1 {
    padding-bottom: 20px;
  }

  .entry-markdown h1::before {
    content: "";
    width: 370px;
    float: right;
    height: 5px;
  }
}

@media (min-width: 1350px) {
  .entry-markdown h1 {
    padding-bottom: 20px;
  }
}

.entry-markdown hr {
  height: 1px;
  background-color: var(--c-light-bg-border);
  border: none;
}

.entry-markdown a {
  color: var(--c-markdown-link);
  display: inline-block;
  text-decoration: underline;
}

.entry-markdown a:hover {
  text-decoration: none;
}

.entry-markdown img {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
  margin: 30px 0;
}

.entry-markdown img:is([alt*="|full"]) {
  width: 100%;
}

.entry-markdown p,
.entry-markdown li,
.entry-markdown td {
  color: var(--c-text-silver);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;
}

.entry-markdown ol {
  counter-reset: markdown-counter;
  list-style-type: none;
}

.entry-markdown ol,
.entry-markdown ul,
.entry-markdown pre,
.entry-markdown table {
  margin-top: 0;
  margin-bottom: 30px;
}

.entry-markdown p {
  margin-top: 0;
  margin-bottom: 10px;
}

.entry-markdown li {
  margin-bottom: 10px;
}

.entry-markdown li ul,
.entry-markdown li ol,
.entry-markdown li p:last-child {
  margin-bottom: 0;
}

.entry-markdown li ul,
.entry-markdown li ol {
  margin-top: 10px;
}

.entry-markdown table {
  margin-top: 20px;
}

.entry-markdown li {
  position: relative;
  margin-left: 30px;
}

.entry-markdown ul > li::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -25px;
  height: 6px;
  width: 6px;
  background: var(--c-box-icon);
  border-radius: 50%;
  box-shadow: 0 0 0 4px var(--c-light-bg-border);
}

.entry-markdown ol > li {
  counter-increment: markdown-counter;
  position: relative;
}

.entry-markdown ol > li::before {
  content: counter(markdown-counter);
  position: absolute;
  top: 0;
  left: -25px;
  height: 6px;
  width: 6px;
  color: var(--c-text-bright);
}

.entry-markdown table {
  display: block;
  width: 100%;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

.entry-markdown table th {
  border-top: 1px solid var(--c-light-bg-border);
}

.entry-markdown table th,
.entry-markdown table td {
  padding: 10px 15px;
  border: 1px solid var(--c-light-bg-border);
}

.entry-markdown table tr:nth-child(2n) td {
  background-color: var(--c-area-bg-2);
}

.entry-markdown table th {
  font-weight: var(--fw-600);
}

.entry-markdown table tr td img:is:not([alt*="|full"]) {
  margin: 0;
}

.entry-markdown blockquote {
  padding: 0 1em;
  color: var(--c-light-bg-border);
  border-left: 0.25em solid var(--c-light-bg-border);
}

.entry-markdown :not(pre) code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-family: Consolas, Monaco, monospace;
  font-size: 85%;
  white-space: break-spaces;
  background-color: var(--c-light-bg-border);
  border-radius: 6px;
}

code[class*="language-"],
pre[class*="language-"] {
  background: none;
  font-family: Consolas, Monaco, monospace;
  font-size: 92%;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  tab-size: 4;
  hyphens: none;
}

pre[class*="language-"] {
  padding: 1em;
  overflow: auto;
  max-width: 100%;
  border-radius: 8px;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #1f2430;
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #5c6773;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.attr-name,
.token.deleted {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.token.function-name {
  color: #f08d49;
}

.token.class-name,
.token.symbol {
  color: #f8c555;
}

.token.important,
.token.atrule,
.token.keyword {
  color: #cc99cd;
}

.token.char,
.token.attr-value {
  color: #7ec699;
}

.token.operator,
.token.url {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.inserted {
  color: green;
}

/* ayu */
.token.title,
.token.string {
  color: #bae67e;
}

.token.regex {
  color: #95e6cb;
}
.token.constant,
.token.number {
  color: #ffcc66;
}

.token.function,
.token.selector,
.token.attr-name {
  color: #ffd580;
}
.token.entity {
  color: #d4bfff;
  cursor: help;
}

[class*="language-"] {
  color: #cbccc6;
}

.token.variable,
.token.punctuation {
  color: #cbccc6;
}
.token.property {
  color: #f28779;
}

.token.builtin,
.token.class-name {
  color: #5ccfe6;
}

.token.keyword {
  color: #ffa759;
}

.token.operator {
  color: #f29e74;
}

.token.function-name {
  color: #ffd580;
}

.token.parameter {
  color: #d4bfff;
}

.token.tag,
.token.property {
  color: #5ccfe6;
}

.token.punctuation {
  color: #5ccfe680;
}

.token.namespace {
  opacity: 0.8;
}
